<div class="m-5">
    <h1>App</h1>
    <hr />

    <button class="btn btn-outline-danger" (click)="logOut()">Salir</button>
</div>

<div class="row">
    <table class="table mt-3 animated fadeIn faster">
        <thead class="thead-dark">
            <tr class="text-center">
                <!--<th scope="col">Id</th>-->

                <th scope="col">Nombre(s)</th>

                <th scope="col">Apellido(s)</th>

                <th scope="col">Tipo Identificación</th>

                <th scope="col">Numero Identificación</th>

                <th scope="col">Correo</th>

                <th scope="col">Acción</th>
            </tr>
        </thead>

        <tbody>
            <tr id="dataTable" *ngFor="let usuario of usuarios; let i; of: index" class="text-justify">
                <!--<td>{{ usuario.id }}</td>-->

                <td>{{ usuario.nombre }}</td>

                <td>{{ usuario.apellido }}</td>

                <td class="text-center">{{ usuario.TipoIdentificacion }}</td>

                <td>{{ usuario.numeroIdentificaion }}</td>

                <td class="text-start">{{ usuario.correo }}</td>

                <td>
                    <button class="btn btn-info mr-1" data-toggle="modal" data-target="#exampleModal" (click)="setModal(usuario)">
            <i class="fa fa-pencil"></i>
          </button>
                    <button class="btn btn-danger" (click)="deleteUser(usuario.id)">
            <i class="fa fa-trash"> </i>
          </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Editar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div *ngIf="user" class="modal-body">
                <form (ngSubmit)="onSubmit(editUserForm)" #editUserForm="ngForm">
                    <input type="text" hidden name="id" [(ngModel)]="user.id" id="" />

                    <span *ngIf="editUserForm.submitted && editUserForm.controls['correo'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>
                    <div class="form-group">
                        <input type="email" class="form-control" type="email" name="correo" [(ngModel)]="user.correo" required email placeholder="Correo" />
                    </div>

                    <span *ngIf="editUserForm.submitted && editUserForm.controls['nombre'].errors" class="text-danger animated fadeIn">El nombre es obligatorio</span>
                    <div class="form-group">
                        <input class="form-control" type="text" name="nombre" [(ngModel)]="user.nombre" minlength="2" required placeholder="Nombre" />
                    </div>

                    <span *ngIf="editUserForm.submitted && editUserForm.controls['apellido'].errors" class="text-danger animated fadeIn">El Apellido es obligatorio</span>
                    <div class="form-group">
                        <input class="form-control" type="text" name="apellido" [(ngModel)]="user.apellido" minlength="2" required placeholder="Apellido" />
                    </div>

                    <span *ngIf="editUserForm.submitted && editUserForm.controls['contrasena'].errors" class="text-danger animated fadeIn">La contraseña debe de ser más de 6 letras</span>
                    <div class="form-group">
                        <input type="password" class="form-control" name="contrasena" [(ngModel)]="user.contrasena" minlength="6" placeholder="Contraseña" />
                    </div>

                    <span *ngIf="editUserForm.submitted && editUserForm.controls['idTipoIdentificacion'].errors " class="text-danger animated fadeIn">El tipo de identificacion es obligatorio</span>
                    <div class="form-group">
                        <select class="form-control" name="idTipoIdentificacion" [disabled]="identType.length === 0" [ngModel]="user.idTipoIdentificacion" #idTipoIdentificacion required>
                            <option *ngFor="let type of identType" [value]="type.id">
                                {{ type.nombre }} -- ( {{ type.acronimo }} )
                            </option>
                        </select>
                    </div>

                    <span *ngIf="editUserForm.submitted && editUserForm.controls['numeroIdentificaion'].errors" class="text-danger animated fadeIn">El Numero de identificacion es obligatorio</span>
                    <div class="form-group">
                        <input class="form-control" type="text" name="numeroIdentificaion" [(ngModel)]="user.numeroIdentificaion" minlength="6" required placeholder="Numero de identificacion" />
                    </div>

                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Cancelar 
                    </button>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>