.titulo{
    color: rgb(38, 0, 255);
    margin-left: 45px;
    font-size: 50px;
    text-shadow: mediumorchid;
  
}

.casilla{
    margin: 10px;
    width: 100px;
    height: 100px;
    -webkit-text-size-adjust: auto;
    

}

.tablero{
    margin-left: 40%;
    align-content: center;
    margin-top: 5%;

}

.win{
    margin-top: 50px;
    margin-left: 110px;
    font-size: 40px;
    color: rgb(38, 0, 255);
}
 

.botones{
    margin-top: 50px;
    margin-left: 110px;
    
}

